<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/register" method="POST">
    <p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required />
    </p>
    <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required />
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" id="password" required />
    </p>
    <button type="submit">Jo'natish</button>
    
    </form>
</body>
</html>