<h1>Pul o'tkazmalari</h1>
<form action="/payment/transfer" method="POST">
  <p>
    <label for="phone">Telefon</label>
    <input type="text" name="phone" id="phone" required />
  </p>
  <p>
    <label for="amount">summa</label>
    <input type="number" name="amount" id="amount" required />
  </p>
  <button type="submit">Jonatish</button>
</form>