<h1>Login</h1>
<form action="/user/login" method="POST">
  <p>
    <label for="phone">Telefon</label>
    <input type="text" name="phone" id="phone" required />
  </p>
  <p>
    <label for="password">parol</label>
    <input type="password" name="password" id="password" required />
  </p>
  <button type="submit">Jonatish</button>
</form>