<h1>O'tkazmalari tasdiqlang</h1>
<form action="/payment/transfer-confirm" method="POST">
  <p>
    <label for="code">Kod</label>
    <input type="number" name="code" id="code" required />
  </p>
  <button type="submit">Jonatish</button>
</form>

<script>
  

</script>