<html lang="uz">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parolni tiklash</title>
    <style>
      body { font-family: Arial, sans-serif; background-color: #f4f4f4; color:
      #333; } .container { max-width: 600px; margin: 0 auto; background-color:
      #ffffff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 3px rgba(0,
      0, 0, 0.1); } h1 { text-align: center; color: #333333; } p { line-height:
      1.5; } .button { display: inline-block; padding: 10px 20px;
      background-color: #28a745; color: #fff; text-decoration: none;
      border-radius: 5px; text-align: center; margin-top: 20px; } .footer {
      text-align: center; margin-top: 20px; font-size: 12px; color: #777; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Parolni tiklash</h1>
      <p>Hurmatli {{name}},</p>
      <p>Siz parolingizni tiklash uchun so‘rov yubordingiz. Agar bu sizning
        harakatingiz bo‘lsa, quyidagi tugmani bosing:</p>
      <p><a href="{{resetLink}}" class="button">Parolni tiklash</a></p>
      <p>Agar siz bu so‘rovni yubormagan bo‘lsangiz, bu xabarni e'tiborsiz
        qoldiring.</p>
      <p>Rahmat, <br />Bizning jamoa</p>
    </div>
    <div class="footer">
      <p>&copy; 2024 Birgayur. Barcha huquqlar himoyalangan.</p>
    </div>
  </body>
</html>