<h1>Recovery Password</h1>
<form action="/user/recover-password" method="PUT">
  <p>
    <label for="email">parol</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">parol</label>
    <input type="password" name="password" id="password" />
  </p>
  <button type="submit">jonatish</button>
</form>