<h1>Ro'yhatda o'tish</h1>
<form action="/user/register" method="POST">
  <p>
    <label for="first_name">Ism</label>
    <input type="text" name="first_name" id="first_name" />
  </p>
  <p>
    <label for="second_name">Familiya</label>
    <input type="text" name="second_name" id="second_name" />
  </p>
  <p>
    <label for="email">email</label>
    <input type="text" name="email" id="email" />
  </p>
  <p>
    <label for="password">parol</label>
    <input type="password" name="password" id="password" />
  </p>
  <button type="submit">jonatish</button>
</form>