<h1>Yotoqxonaga navbatga turish</h1>
<form action="/student/dormitory" method="POST">
  <p>
    <label for="first_name">Ism</label>
    <input type="text" name="first_name" id="first_name" />
  </p>
  <p>
    <label for="second_name">Familiya</label>
    <input type="text" name="second_name" id="second_name" />
  </p>
  <p>
    <label for="phone">telefon</label>
    <input type="text" name="phone" id="phone" />
  </p>
  <p>
    <label for="group_name">Guruh</label>
    <input type="text" name="group_name" id="group_name" />
  </p>
  <p>
    <label for="from_place">manzil</label>
    <input type="text" name="from_place" id="from_place" />
  </p>
  <button type="submit">jonatish</button>
</form>