<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/register" method="POST">
      <input type="text" name="first_name" required />
      <input type="text" name="second_name" required />
      <input type="text" name="phone" required />
      <input type="text" name="address" required />
      <button type="submit">Jonatish</button>
    </form>
    
  </body>
</html>