<h1>Ro'yxatdan o'tish</h1>
<form action="/user/register" method="POST">
<p>
    <label for="first_name">Ism</label>
    <input type="text" name="first_name" id="first_name" required />
</p>
<p>
    <label for="secon_name">Familiya</label>
    <input type="text" name="secon_name" id="secon_name" required />
</p>
<p>
    <label for="phone">Phone</label>
    <input type="text" name="phone" id="phone" required />
</p>
<p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required />
</p>
</form>