<h1>Ro'yhatdan o'tish</h1>
<form action="/user/register" method="POST">
  <p>
    <label for="first_name">Ism</label>
    <input type="text" name="first_name" id="first_name" required />
  </p>
  <p>
    <label for="second_name">Familiya</label>
    <input type="text" name="second_name" id="second_name" required />
  </p>
  <p>
    <label for="phone">Telefon</label>
    <input type="text" name="phone" id="phone" required />
  </p>
  <p>
    <label for="password">parol</label>
    <input type="password" name="password" id="password" required />
  </p>
  <button type="submit">Jonatish</button>
</form>